body {
    min-height: 100%;
}

.welcome {
    font-family: 'Segoe UI', 'sans-serif';
    font-size: 16px;
    color: antiquewhite;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}